name: Node.js CI

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [10.x, 12.x, 14.x]
        rollup-version: [1.21.x, ^1.0.0, ^2.0.0]

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - run: npm install rollup@${{ matrix.rollup-version }}
    - run: npm run build --if-present
    - run: npm test
      env:
        CI: true
